name: Test CD Locally

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
          
    - name: Setup Python
      uses: actions/setup-python@v4  
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

    - name: Run tests
      run: pytest tests/

    - name: Deploy to local folder
      run: |
        mkdir -p $HOME/test_server
        cp -r * $HOME/test_server/
        cd $HOME/test_server
        python tst.py
